@media screen and (max-width: 680px) {
	nav {
  background-color: blue;
  margin: 0px;
  height: 3vw;
  display: flex;
  align-items: center; }

#container {
  width: 80%;
  height: 40vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

  #container div {
  width: 60%;
  height: 90%;
  padding-bottom: 3vw; }

  #secondList {
  padding: 2vw 0;
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  font-size: 2vw; }


}

@media screen and (min-width: 681px) {
	nav {
  background-color: green;
  margin: 0px;
  height: 3vw;
  display: flex;
  align-items: center; }

#container {
  width: 80%;
  height: 40vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

  #container div {
  width: 40%;
  height: 70%;
  padding-bottom: 3vw; }

  #secondList {
  padding: 2vw 0;
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  font-size: 2vw; }


}

@media screen and (min-width: 881px) {
	nav {
  background-color: red;
  margin: 0px;
  height: 3vw;
  display: flex;
  align-items: center; }

#container {
  width: 80%;
  height: 40vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

  #container div {
  width: 30%;
  height: 50%;
  padding-bottom: 3vw; }

  #secondList {
  padding: 2vw 0;
  width: 60%;
  margin: 0 auto;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  font-size: 1.5vw; }


}

@media screen and (min-width: 1150px) {
	nav {
  background-color: #F8485E;
  margin: 0px;
  height: 3vw;
  display: flex;
  align-items: center; }

#container {
  width: 80%;
  height: 40vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

  #container div {
  width: 15%;
  height: 35%;
  padding-bottom: 3vw; }

  #secondList {
  padding: 2vw 0;
  width: 50%;
  margin: 0 auto;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  font-size: 1vw; }


}